.portfolios-meaning{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  h1{
    text-align: center;
    color: #080808;
    font-family: $ProximaRegular;
    font-size: 34px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 0;
  }
  h2{
    color: #080808;
    font-family: $Proximalight;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}