.clearfix{
  display: block;
  width: 100%;
  overflow: hidden;
  clear: both;
}
input[type='submit']{
  cursor: pointer;
  transition: 200ms ease;
  &:hover{
    transform: scale(1.04);
    transition: 200ms ease;
  }
}